* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

body {
  background-color: black;
}

wrapper {
  text-align: center;
  margin: 0 auto;
  /*display: inherit*/

  display: block;
}

.title {
  padding-top: 2em;
  font-family: 'Amatic SC', cursive;
}

.game {
  width: 100%;
  /*display: inline-block;*/

  display: block;
}

.tic-tac-toe {
  width: 100%

  display: block;
}

.row {
  display: block;
  margin: 0 auto;

  width: 15em;
}

.tic-square {
  /*display: inline-block;*/
  width: 5em;
  height: 5em;
  line-height: 4.5em;
  background-color: white;
  color: black;
  border: 3px solid black;
  vertical-align: middle;
  font-family: 'Indie Flower', cursive;
  border-radius: .5em;


  display: block;
  float: left;
}

.player-name {
  width: 100%;
  text-align: center;
  padding: 5px 0 20px 0;
  color: white;
  font-size: 2em;
  font-family: 'Amatic SC', cursive;

  display: block;
}

h1 {
  color: white;
  font-size: 2.5em;
}

h2 {
  font-size: 3.5em;
}

.clearfix {
  overflow: auto;
}


/*------------- SCREEN RESIZE -------------*/


@media (max-width: 18em) {


  wrapper {
    width: 100%;
  }

  .tic-tac-toe {
    /*height: 99.9999vw;*/

  }

  .row {
    width: 100%;
    height: 34.5vw;
  }

  .tic-square {
    float: left;
    width: 33.3333vw;
    height: 33.3333vw;
    line-height: 33.3333vw;
    border: 1vw solid black;
  }

  .player-name {
    font-size: 15vw;
    padding: 0;
  }

  h1 {
    font-size: 20vw;
  }

  h2 {
  }

  .title {
    padding-top: 0;
  }

}







}
